@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply text-6xl font-bold mb-4;
}

h2 {
  @apply text-5xl font-bold mb-4;
}

h3 {
  @apply text-4xl font-bold mb-4;
}

h4 {
  @apply text-3xl font-bold mb-4;
}

h5 {
  @apply text-2xl font-bold;
}

h6 {
  @apply text-xl font-bold mb-4;
}

.paragraph {
  @apply text-xl leading-relaxed mb-4;
}

.close-btn {
  @apply text-lg bg-violet-800 w-full pt-2 pb-1 rounded-md text-white tracking-wider font-sedgwick hover:bg-violet-950;
}

.headerSpan {
  @apply font-extrabold font-sedgwick;
}

/* rainbow text */
.rainbow-text {
  @apply bg-gradient-to-r text-transparent bg-clip-text;
  background-image: linear-gradient(
    to right,
    white,
    blue,
    green,
    red,
    rgb(219, 144, 4),
    indigo,
    violet
  );
}

/* loader height adjustment */
.h-loader {
  height: calc(100vh - 262px);
}

/* shimmer effect */
.shimmer-effect {
  background: linear-gradient(-45deg, #ebeaea 40%, #fafafa 50%, #eee 60%);
  background-size: 300%;
  background-position-x: 100%;
  border-radius: 4px;
  animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #00000024;
}

::-webkit-scrollbar-thumb {
  background: #3c424f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a78bfa;
}
